<tr>
  <td><%= link_to image_tag(reservation.room.image_resize, alt: "ルーム画像", class: "index-image"), room_path(reservation.room) %></td>
  <td><%= link_to(reservation.room.room_name, room_path(reservation.room)) %></td>
  <td><%= reservation.room.introduction %></td>
  <td>¥<%= reservation.total_price %></td>
  <td><%= reservation.start_date %></td>
  <td><%= reservation.end_date %></td>
  <td><%= reservation.created_at.to_s(:datetime_jp) %></td>
</tr>
