<div class="container">
  <div class="row">
    <% @rooms.each do |room| %>
      <div class="col-xl-3 col-lg-4 col-6">
        <div class="room-container">
          <a href=<%= room_url(room) %> >
            <div class="room-image">
              <%= image_tag room.image %>
            </div>
            <div class="room-about">
              <p><%= room.room_name %></p>
              <p><%= room.address %></p>
              <p><%= room.price %></p>
            </div>
          </a>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="d-flex justify-content-center">
  <%== pagy_bootstrap_nav(@pagy) %>
</div>
