<div class="container">
  <div class="row">
    <div class="col-8">
      <%= image_tag @room.image %>
      <div class="room-profile">
        <%= @room.room_name %>
        <%= @room.address %>
      </div>
      <p><%= @room.introduction %></p>
    </div>
    <div class="col-4">
      <p>¥ <%= @room.price %> / 日</p>
      <%= form_with(model: @reservation, url: new_reservation_path, method: :get, local: true) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :start_date, class: "form-label" %>
        <%= f.date_field :start_date, class: "form-control" %>

        <%= f.label :end_date, class: "form-label" %>
        <%= f.date_field :end_date, class: "form-control" %>

        <%= f.label :sum_people, class: "form-label" %>
        <%= f.number_field :sum_people, class: "form-control" %>

        <%= f.submit "予約する", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
