<header class="bg-dark">
  <div class="container-fluid">
    <div class="navbar navbar-light">
      <div class="navbar">
        <div class="nav-item">
          <%= link_to image_tag("logo.png", alt: "ロゴ"), root_url %>
        </div>
        <div class="nav-item form-area">
          <%= form_with(url: search_rooms_path, method: :get, local: true) do |f| %>
            <%= f.text_field :area, placeholder: " エリア", class: "form-control" %>
          <% end %>
        </div>
        <div class="nav-item form-area">
          <%= form_with(url: search_rooms_path, method: :get, local: true) do |f| %>
            <%= f.text_field :word, placeholder: "キーワード", class: "form-control" %>
          <% end %>
        </div>
      </div>
      <% if logged_in? %>
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            メニュー
          </button>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
            <li><%= link_to "ルーム登録", new_room_path, class: "dropdown-item" %></li>
            <li><%= link_to "予約済みルーム一覧", reservations_path, class: "dropdown-item" %></li>
            <li><%= link_to "登録済みルーム一覧", rooms_path, class: "dropdown-item" %></li>
            <li><%= link_to "アカウント設定", user_path(current_user), class: "dropdown-item" %></li>
            <li><%= link_to "ログアウト", logout_path, method: :delete, class: "dropdown-item" %></li>
          </ul>
        </div>
      <% else %>
        <div class="nav-item">
          <%= link_to "ログイン", login_path, class: "btn btn-primary" %>
          <%= link_to "登録する", sign_up_path, class: "btn btn-secondary" %>
        </div>
      <% end %>
    </div>
  </div>
</header>
